.form__sign {
  text-align: center;
  font-size: 17px;
  margin: 0;
  padding: 0;
  line-height: 17px;
}

.form__sign-register {
  text-align: left;
  font-size: 17px;
  margin: 0;
  padding: 0;
  line-height: 17px;
}
